body {
    background-color: #0B2027;
}
nav {
    background-color: #0B2027;
    padding: 1em;
}
h1 {
    color: #D3FFE9;
    font-family: Raleway, sans-serif;
}
h2 {
    color: #FFBA49;
    font-family: Raleway, sans-serif;
}
nav {
    background-color: #1A374D; /* Contrasting color */
    padding: 1em 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    margin: 0;
    padding: 0 2em; /* Adds space from the right edge */
}

nav ul li {
    margin: 0 1.5em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #ff9800;
}
